.detail_trip_box .header, .comment_header {
  height: 50px;
  line-height: 50px; }
  .detail_trip_box .header i, .comment_header i {
    width: 50px;
    height: 50px;
    float: left; }
  .detail_trip_box .header h4, .comment_header h4 {
    float: left;
    font-size: 28px;
    margin-left: 10px; }

.detail_trip_box .day_box {
  margin-top: 20px; }
.detail_trip_box .day_text {
  background-color: #dedede; }
  .detail_trip_box .day_text h4 {
    width: 90px;
    height: 40px;
    float: left;
    line-height: 40px;
    background-color: #9a9a9a;
    color: white;
    text-align: center; }
.detail_trip_box .day_place {
  height: 40px;
  float: left;
  line-height: 40px;
  margin-left: 20px; }
  .detail_trip_box .day_place li {
    float: left;
    padding: 0; }
.detail_trip_box .day_arrange {
  margin-left: 40px;
  border-left: solid thin #d3d3d3;
  padding: 20px 0 30px 40px;
  border-bottom: solid thin #d3d3d3; }
.detail_trip_box .arrange_box {
  margin-bottom: 30px; }
.detail_trip_box .arrange_header {
  position: relative; }
  .detail_trip_box .arrange_header i {
    width: 34px;
    height: 34px;
    display: inline-block;
    position: absolute;
    left: -57px;
    border-radius: 50%;
    border: solid thin #fb9103; }
  .detail_trip_box .arrange_header h4 {
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 10px; }

.search_main_box li {
  float: left;
  border: solid thin #d3d3d3;
  padding-bottom: 10px;
  margin: 0 10px 30px 10px; }
.search_main_box img {
  width: 290px;
  height: 160px; }
.search_main_box a {
  display: block; }

.search_text a {
  padding: 10px;
  font-size: 18px;
  color: #666; }
  .search_text a:hover {
    color: #B60F0E;
    text-decoration: underline; }
.search_text p {
  padding: 2px 10px; }

.detail_person_box {
  padding-bottom: 40px;
  border-bottom: solid thin #d3d3d3; }
  .detail_person_box img {
    float: left;
    width: 250px;
    height: 220px; }
  .detail_person_box .detail_intoduce {
    width: 650px;
    float: left;
    margin-left: 20px; }
  .detail_person_box .detail_person h4 {
    font-size: 24px;
    float: left; }
  .detail_person_box .detail_person span {
    float: right; }
  .detail_person_box .detail_text {
    margin-top: 18px; }
    .detail_person_box .detail_text p {
      margin-bottom: 10px;
      line-height: 25px; }
  .detail_person_box .detail_title {
    font-weight: bold; }
  .detail_person_box .detail_title_box {
    display: inline-block;
    margin-right: 40px; }

.search_box {
  padding: 20px 0 80px 0; }

.search_header {
  margin: 10px 0 30px 0; }

.search_select {
  padding: 10px 0; }
  .search_select span {
    float: left;
    width: 60px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold; }
  .search_select li {
    float: left;
    margin-right: 20px; }
  .search_select ul {
    float: left; }
  .search_select a {
    color: #666;
    padding: 2px 5px; }
    .search_select a:hover {
      color: #B60F0E; }
  .search_select .active {
    color: #B60F0E;
    border: solid thin #B60F0E; }

.search_introduce {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: solid thin #d3d3d3;
  margin-bottom: 20px; }
  .search_introduce h4 {
    font-size: 25px; }
  .search_introduce img {
    width: 525px;
    height: 295px;
    margin-top: 10px;
    float: left; }

.search_introduce_box {
  width: 400px;
  float: left;
  margin: 10px 0 0 20px;
  line-height: 25px; }
  .search_introduce_box p {
    margin-bottom: 10px; }

.introduce_title {
  font-weight: bold; }

.search_empty {
  width: 300px;
  height: 200px;
  margin: 0 auto; }
  .search_empty i {
    width: 150px;
    height: 180px;
    float: left; }
  .search_empty h4 {
    font-size: 25px;
    float: left;
    padding-top: 60px; }

.detail_box {
  padding-top: 30px; }

.detail_trip_box {
  margin-top: 10px; }

.arrange_introduce {
  line-height: 24px; }

.arrange_picture li {
  float: left;
  margin-right: 10px;
  padding-top: 10px; }
.arrange_picture img {
  width: 150px;
  height: 120px;
  cursor: pointer; }

.detail_comment_box {
  margin-top: 20px; }

.comment_write_box {
  padding: 10px 20px; }
  .comment_write_box textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 10px;
    font-size: 14px;
    border: solid thin #aaaaaa; }
  .comment_write_box button {
    padding: 8px 30px;
    background-color: #9a9a9a;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border: solid thin #9a9a9a;
    cursor: pointer;
    margin-top: 5px; }
    .comment_write_box button:hover {
      background-color: #B60F0E;
      border: solid thin #B60F0E; }

.comment_detail_box {
  padding: 20px 0 80px 20px; }
  .comment_detail_box img {
    width: 80px;
    height: 70px;
    border-radius: 50%;
    float: left; }
  .comment_detail_box li {
    padding: 20px 0;
    border-bottom: solid thin #d3d3d3; }
  .comment_detail_box .comment_empty_box {
    text-align: center;
    padding: 20px 0 80px 0;
    font-size: 14px; }

.comment_text_box {
  width: 840px;
  float: left;
  margin-left: 20px; }

.comment_text_name h4 {
  font-size: 20px;
  float: left; }
.comment_text_name span {
  float: right; }

.comment_detail_text {
  height: 48px;
  margin-top: 10px; }

/*# sourceMappingURL=search.css.map */
