@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  background-color: #efefef;
  color: #666;
  font-family: tahoma, arial, "微软雅黑", "Hiragino Sans GB", sans-serif !important; }

html, body {
  width: 100%; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

.clearfix:after {
  height: 0;
  content: "";
  display: block;
  visibility: hidden;
  clear: both; }

.clearfix {
  zoom: 1; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.common_header {
  height: 105px;
  background-color: #333;
  font-size: 15px; }

.header_box {
  width: 1105px;
  margin: 0 auto; }

.header_logo {
  width: 200px;
  height: 70px;
  background: url("../../img/header_logo.png") no-repeat 0 5px; }

.header_navigation {
  color: #ccc;
  margin-left: 30px; }
  .header_navigation li {
    width: 110px;
    height: 70px;
    line-height: 70px;
    float: left;
    text-align: center;
    padding: 0 10px;
    cursor: pointer;
    position: relative; }
    .header_navigation li:hover {
      background: url("../../img/header.png") no-repeat 0 -470px; }
  .header_navigation .hot {
    width: 28px;
    height: 19px;
    position: absolute;
    background: url("../../img/header.png") no-repeat -190px 0;
    top: 20px; }
  .header_navigation .cor {
    width: 14px;
    height: 9px;
    background: url("../../img/header.png") no-repeat -226px 0;
    position: absolute;
    bottom: -2px;
    left: 60px; }

.header_search {
  width: 270px; }
  .header_search button {
    margin: 25px 0 0 5px;
    padding: 2px 5px;
    cursor: pointer;
    color: #ccc;
    background-color: #333;
    border: solid thin #333; }
    .header_search button:hover {
      color: #f7f0f0; }

.header_search_box {
  width: 210px;
  height: 35px;
  background: url("../../img/header.png") no-repeat 0 -550px;
  margin-top: 20px; }
  .header_search_box input {
    background: transparent;
    width: 160px;
    margin: 8px 30px;
    border: 0;
    outline: none; }

.header_another_box {
  height: 35px;
  background: url("../../img/header.png") 0 -230px; }

.header_another_navigation {
  width: 800px;
  position: absolute; }
  .header_another_navigation li {
    width: 50px;
    height: 35px;
    line-height: 35px;
    float: left;
    color: #fff;
    font-size: 12px;
    padding: 0 20px; }
    .header_another_navigation li:hover {
      background: none; }
  .header_another_navigation a {
    color: white;
    display: block; }

.navigation_third li {
  width: 70px; }

.header_user_img {
  width: 30px;
  height: 45px;
  margin-top: 20px;
  padding-right: 20px;
  background: url("../../img/header.png") right -366px;
  cursor: pointer;
  position: relative;
  z-index: 10; }
  .header_user_img img {
    width: 30px;
    height: 30px;
    border-radius: 50%; }
  .header_user_img:hover {
    background: url("../../img/header.png") right -405px; }
  .header_user_img:hover .header_user_choose {
    display: block; }

.header_user_choose {
  width: 150px;
  position: absolute;
  background-color: #2a2a2a;
  border: solid thin #404040;
  left: -60px;
  top: 45px;
  display: none; }
  .header_user_choose li {
    height: 40px;
    line-height: 40px;
    border-bottom: solid thin #404040; }
    .header_user_choose li:hover {
      background-color: #3c3c3c; }
      .header_user_choose li:hover a {
        color: white; }
  .header_user_choose a {
    color: #ccc;
    font-size: 12px;
    display: block;
    padding-left: 30px; }
  .header_user_choose i {
    width: 20px;
    height: 20px;
    float: left;
    background: url("../../img/user_icon.png") no-repeat;
    margin: 8px 6px 0 0; }
  .header_user_choose span {
    float: left; }
  .header_user_choose .header_choose_icon {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #2a2a2a;
    border-left: 10px solid transparent;
    position: absolute;
    top: -20px;
    left: 65px; }

.comment_container {
  width: 1000px;
  margin: 0 auto;
  border-left: solid 1px #d3d3d3;
  border-right: solid 1px #d3d3d3;
  background-color: white; }

.comment_box {
  width: 960px;
  margin: 0 auto; }

.common_footer {
  width: 100%;
  border-top: solid thin #d3d3d3;
  background-color: #333; }

.common_footer_box {
  width: 1000px;
  height: 120px;
  margin: 0 auto; }
  .common_footer_box i {
    width: 50px;
    height: 45px;
    float: left; }
  .common_footer_box span {
    display: block;
    margin-bottom: 5px; }
  .common_footer_box li {
    margin: 30px 0 0 70px; }

.comment_page_box {
  text-align: center;
  margin-top: 40px; }
  .comment_page_box a {
    padding: 4px 8px;
    display: inline-block;
    border: solid thin #d3d3d3;
    color: #666; }
    .comment_page_box a:hover {
      background-color: #dedede; }
  .comment_page_box .active {
    background-color: #9a9a9a;
    color: white; }

.comment_mask {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1; }

.common_verifyImage_box {
  margin: 17px 0 0 105px; }
  .common_verifyImage_box a {
    color: #666;
    text-decoration: underline;
    font-size: 14px;
    vertical-align: bottom; }
    .common_verifyImage_box a:hover {
      color: #B60F0E; }
  .common_verifyImage_box img {
    width: 120px;
    height: 40px;
    vertical-align: top;
    margin-right: 5px; }

.result_box {
  width: 1000px;
  height: 460px;
  background: url("../../img/result_bg.jpg") no-repeat;
  background-size: 1000px 460px; }

.result_title_box {
  width: 200px;
  margin: 0 auto;
  padding-top: 150px; }
  .result_title_box i {
    width: 50px;
    height: 40px;
    float: left; }
  .result_title_box h4 {
    font-size: 20px;
    float: left;
    padding: 5px 0 0 5px; }

.result_title_choose {
  margin-top: 10px;
  text-align: center; }
  .result_title_choose a {
    color: #B60F0E;
    margin-left: 10px; }
    .result_title_choose a:hover {
      color: blue; }

.result_title_text {
  width: 150px;
  margin: 0 auto; }

.common_empty {
  width: 300px;
  height: 200px;
  margin: 0 auto; }
  .common_empty i {
    width: 150px;
    height: 180px;
    float: left; }
  .common_empty h4 {
    font-size: 25px;
    float: left;
    padding-top: 60px; }

/*# sourceMappingURL=common.css.map */
