$login-register-color: #B60F0E;          // 登录界面颜色

// 登录界面、注册界面头部信息
%login-register-header {
    width: 100%;
    height: 120px;
    background: url("../../img/logo.png") no-repeat 40px 20px;
}
// 登录界面、注册界面主要显示内容
%login-register-main {
    width: 100%;
    height: 680px;
    background: url("../../img/register_bg.jpg") center no-repeat;
}
// 登录界面、注册界面登录框
@mixin login-register-box($width, $height, $box-width, $input-width, $button-width) {
    width: $width;
    margin: 0 auto;
    color: white;
    
    // 立即注册
    .main_header {
        height: 90px;
        line-height: 90px;
        letter-spacing: 1px;
        .button {
            border: solid thin white;
            padding: 2px 15px;
            cursor: pointer;
            &:hover {
                color: $login-register-color;
                border: solid thin $login-register-color;
            }
        }
    }
    
    // 登录框
    .main_box {
        height: $height;
        background-color: white;
    }
    .box_header {
        height: 60px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 60px;
        background-color: $login-register-color;
    }
    .box_main {
        width: $box-width;
        margin: 60px auto;
        color: #666;
        font-size: 16px;
        li {
            margin-bottom: 17px;
        }
        input {
            width: $input-width;
            height: 20px;
        }
        button {
            width: $button-width;
            height: 37px;
            background-color: $login-register-color;
            border: solid thin $login-register-color;
            font-weight: bold;
            color: white;
            text-align: center;
            margin: 15px 0 0 90px;
            cursor: pointer;
            &:hover {
                background-color: #e4211f;
                border: solid thin #e4211f;
            }
        }
    }
    .name_text {
        display: inline-block;
        width: 100px;
        text-align: right;
        i {
            color: $login-register-color;
        }
    }
}
