@import "../common/variable.scss";

// 登录界面
.login_header {
    @extend %login-register-header;
}
.login_main {
    @extend %login-register-main;
}
.login_main_container {
    @include login-register-box(700px, 400px, 320px, 200px, 220px);
}
.login_info_box {
    @include info_box(5px, 320px);
}

// 注册界面
.register_header {
    @extend %login-register-header;
}
.register_main {
    @extend %login-register-main
}
.register_main_container {
    @include login-register-box(1050px, 540px, 350px, 230px, 250px);
}
.register_info_box {
    @include info_box(5px, 345px);
}

// 我的行程界面
.my_trip_box {
    padding-bottom: 80px;
}
.trip_box_header {
    @extend %detail-title;
    padding: 20px 0 10px 0;
    border-bottom: solid thin $border-color;
}
.trip_box_main {
    @extend %trips-box;
    margin: 30px 0;
}
.trips_box_text {
    @extend %trips-text;
}

// 我的收藏界面
.my_save_box {
    padding-bottom: 80px;
}
.my_save_header {
    @extend %detail-title;
    padding: 20px 0 10px;
    border-bottom: solid thin $border-color;
}
.my_save_main {
    @extend %trips-box;
    margin-top: 30px;
}
.my_save_text {
    @extend %trips-text;
}

// 个人资料管理
.my_message_box {
    padding-bottom: 80px;
}
.message_header {
    @extend %detail-title;
    padding-top: 20px;
}
.message_choose_box {
    height: 40px;
    background-color: #dedede;
    line-height: 40px;
    font-size: 16px;
    margin-top: 20px;
    li {
        float: left;
        &:hover {
            border-top: solid 2px $login-register-color;
            line-height: 35px;
        }
    }
    a {
        width: 140px;
        display: block;
        text-align: center;
        color: #666;
    }
    .active {
        background-color: white;
        border-top: solid 2px $login-register-color;
        border-left: solid thin $border-color;
        border-right: solid thin $border-color;
        &:hover {
            line-height: 40px;
        }
    }
}
.message_box {
    width: 600px;
    margin: 40px auto;
}
.message_img_box {
    float: left;
    position: relative;
    img {
        width: 150px;
        height: 150px;
    }
}
.message_img_change {
    width: 100%;
    height: 30px;
    background-color: gray;
    opacity: 0.8;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 30px;
    a {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}
.img_change_box {
    @include bomb-box(480px, 300px, 100%);
}
.img_change_main {
    form {
        width: 300px;
        height: 180px;
        margin: 50px auto;
    }
    li {
        padding-bottom: 20px;
    }
    p {
        padding-bottom: 8px;
    }
}
.img_change_fake {
    width: 240px;
    height: 25px;
    background-color: white;
    border: solid thin $border-color;
}
.img_change_button {
    display: inline-block;
    width: 50px;
    height: 25px;
    border: solid thin #cacaca;
    background-color: #dadada;
    cursor: pointer;
    position: absolute;
    left: 250px;
    top: 0;
    text-align: center;
    line-height: 25px;
}
.img_change_file {
    width: 50px;
    height: 25px;
    left: 250px;
    top: 0;
    opacity: 0;
    position: absolute;
    border: solid thin gray;
    cursor: pointer;
}
.message_data_box {
    @extend %update-box;
    float: left;
    margin-left: 20px;
    select {
        width: 120px;
        height: 25px;
        color: #666;
        margin-right: 10px;
    }
    textarea {
        width: 250px;
        height: 100px;
        resize: none;
        float: left;
        padding: 5px;
    }
}
.message_sex_box {
    float: left;
    margin-top: 3px;
}
.sex_box {
    float: left;
    margin-right: 20px;
    input {
        width: 15px;
        height: 15px;
        float: left;
        margin-right: 4px;
    }
    span {
        float: left;
        margin-top: -2px;
    }
}
.message_hidden {
    display: none;
}
.password_box {
    width: 400px;
    margin: 40px auto;
}
.password_data_box {
    @extend %update-box;
}

// 个人信息管理
.personal_box {
    padding: 40px 0 80px 0;
}
.personal_header {
    padding: 10px;
}
.personal_img_box {
    float: left;
    img {
        width: 210px;
        height: 200px;
    }
}
.personal_message {
    width: 700px;
    height: 200px;
    float: right;
}
.personal_name {
    padding-bottom: 10px;
    border-bottom: solid thin $border-color;
    h4 {
        float: left;
        font-size: 25px;
    }
    a {
        float: right;
        display: block;
        padding: 5px 15px;
        background-color: $login-register-color;
        color: white;
        border-radius: 6px;
        &:hover {
            background-color: #9a9a9a;
        }
    }
}
.personal_number {
    padding: 10px 0 15px 0;
}
.personal_number_box {
    float: left;
    border-right: solid thin $border-color;
    margin-right: 20px;
    a {
        display: block;
        padding: 5px 30px 5px 0;
        color: #666;
        &:hover {
            color: $login-register-color;
        }
    }
    h4 {
        font-size: 20px;
    }
}
.personal_detail {
    padding: 10px 0;
    p {
        padding-bottom: 20px;
    }
    .title_text {
        font-weight: bold;
    }
}
.personal_main {
    padding: 30px 10px;
}
.personal_main_box {
    @extend %trips-box;
    margin-bottom: 20px;
}
.personal_main_header {
    @extend %detail-title;
    padding-bottom: 5px;
    border-bottom: solid 2px $login-register-color;
    margin-bottom: 30px;
    a {
        float: right;
        color: #666;
        &:hover {
            text-decoration: underline;
        }
    }
}
.personal_main_text {
    @extend %trips-text;
}

// 我的足迹
.my_foot_container {
    width: 100%;
    height: 600px;
}
#allmap {
    width: 100%;
    height: 100%;
}
.my_foot_title {
    position: absolute;
    bottom: 20px;
    right: 30px;
    opacity: 0.8;
    h4 {
        font-size: 48px;
    }
}
.my_foot_box {
    top: 120px;
    right: 30px;
    position: absolute;
    opacity: 0.8;
    a {
        color: #666;
        padding: 6px 20px;
        background-color: $login-register-color;
        color: white;
        &:hover {
            background-color: #9a9a9a;
        }
    }
}
.my_foot_add_box {
    @include bomb-box(500px, 380px, 80%);
}
.foot_add_main {
    form {
        width: 400px;
        margin: 30px auto;
    }
    li {
        padding-bottom: 18px;
    }
    label {
        width: 120px;
        display: inline-block;
        text-align: right;
        margin-right: 5px;
    }
    input {
        width: 190px;
        color: #666;
        padding: 2px 5px;
    }
    select {
        color: #666;
        width: 100px;
        padding: 4px 5px;
    }
    textarea {
        width: 205px;
        height: 60px;
        resize: none;
        float: left;
    }
}
.foot_add_day_input {
    input {
        width: 50px;
        height: 19px;
        text-align: center;
        border: solid thin #CCC;
        float: left;
    }
    a {
        padding: 4px 7px;
        background-color: #d0d3d4;
        color: #737373;
        float: left;
    }
    span {
        float: left;
    }
}


