@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 14px;
  background-color: #efefef;
  color: #666;
  font-family: tahoma, arial, "微软雅黑", "Hiragino Sans GB", sans-serif !important; }

html, body {
  width: 100%; }

a {
  text-decoration: none; }

ul li {
  list-style: none; }

.clearfix:after {
  height: 0;
  content: "";
  display: block;
  visibility: hidden;
  clear: both; }

.clearfix {
  zoom: 1; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.common_header {
  height: 105px;
  background-color: #333;
  font-size: 15px; }

.header_box {
  width: 1105px;
  margin: 0 auto; }

.header_logo {
  width: 200px;
  height: 70px;
  background: url("../../img/header_logo.png") no-repeat 0 5px; }

.header_navigation {
  color: #ccc;
  margin-left: 30px; }
  .header_navigation li {
    width: 110px;
    height: 70px;
    line-height: 70px;
    float: left;
    text-align: center;
    padding: 0 10px;
    cursor: pointer; }
    .header_navigation li:hover {
      background: url("../../img/header.png") no-repeat 0 -470px; }
  .header_navigation .hot {
    width: 28px;
    height: 19px;
    position: absolute;
    background: url("../../img/header.png") no-repeat -190px 0;
    top: 20px; }
  .header_navigation .cor {
    width: 14px;
    height: 9px;
    background: url("../../img/header.png") no-repeat -226px 0;
    position: absolute;
    bottom: -2px;
    left: 60px; }
  .header_navigation .active {
    background: url("../../img/header.png") no-repeat 0 -155px; }

.header_search {
  width: 270px; }
  .header_search button {
    margin: 25px 0 0 5px;
    padding: 2px 5px;
    cursor: pointer;
    color: #ccc;
    background-color: #333;
    border: solid thin #333; }
    .header_search button:hover {
      color: #f7f0f0; }

.header_search_box {
  width: 210px;
  height: 35px;
  background: url("../../img/header.png") no-repeat 0 -550px;
  margin-top: 20px; }
  .header_search_box input {
    background: transparent;
    width: 160px;
    margin: 8px 30px;
    border: 0;
    outline: none; }

.header_another_box {
  height: 35px;
  background: url("../../img/header.png") 0 -230px; }

.header_another_navigation {
  width: 800px;
  position: absolute; }
  .header_another_navigation li {
    width: 50px;
    height: 35px;
    line-height: 35px;
    float: left;
    color: #fff;
    font-size: 12px;
    padding: 0 20px; }
    .header_another_navigation li:hover {
      background: none; }

.comment_container {
  width: 1000px;
  margin: 0 auto;
  border-left: solid 1px #d3d3d3;
  border-right: solid 1px #d3d3d3;
  background-color: white; }

.comment_box {
  width: 960px;
  margin: 0 auto; }

.common_footer {
  width: 100%;
  border-top: solid thin #d3d3d3;
  background-color: #333; }

.common_footer_box {
  width: 1000px;
  height: 120px;
  margin: 0 auto; }
  .common_footer_box i {
    width: 50px;
    height: 45px;
    float: left; }
  .common_footer_box span {
    display: block;
    margin-bottom: 5px; }
  .common_footer_box li {
    margin: 30px 0 0 70px; }

.comment_page_box {
  text-align: center;
  margin-top: 40px; }
  .comment_page_box a {
    padding: 4px 8px;
    display: inline-block;
    border: solid thin #d3d3d3;
    color: #666; }
    .comment_page_box a:hover {
      background-color: #dedede; }
  .comment_page_box .active {
    background-color: #9a9a9a;
    color: white; }

/*# sourceMappingURL=common.css.map */
