@import "../common/variable.scss";

// 搜索页面
.search_box {
    padding: 20px 0 80px 0;
}
.search_header {
    margin: 10px 0 30px 0;
}
.search_select {
    padding: 10px 0;
    span {
        float: left;
        width: 60px;
        text-align: right;
        margin-right: 10px;
        font-weight: bold;
    }
    li {
        float: left;
        margin-right: 20px;
    }
    ul {
        float: left;
    }
    a {
        color: #666;
        padding: 2px 5px;
        &:hover {
            color: $login-register-color;
        }
    }
    .active {
        color: $login-register-color;
        border: solid thin $login-register-color;
    }
}
.search_introduce {
    width: 100%;
    padding-bottom: 40px;
    border-bottom: solid thin $border-color;
    margin-bottom: 20px;
    h4 {
        font-size: 25px;   
    }
    img {
        width: 525px;
        height: 295px;
        margin-top: 10px;
        float: left;
    }
}
.search_introduce_box {
    width:  400px;
    float: left;
    margin: 10px 0 0 20px;
    line-height: 25px;
    p {
        margin-bottom: 10px;
    }
}
.introduce_title {
    font-weight: bold;
}
.search_main_box {
    @extend %trips-box;
}
.search_text {
    @extend %trips-text;
}
.search_empty {
    width: 300px;
    height: 200px;
    margin: 0 auto;
    i {
        width: 150px;
        height: 180px;
        float: left;
    }
    h4 {
        font-size: 25px;
        float: left;
        padding-top: 60px;
    }
}
// 详情页面
.detail_box {
    padding-top: 30px;
}
.detail_person_box {
    @extend %trip_message_box;
}
.detail_trip_box {
    margin-top: 10px;
    @extend %detail-release-box;
}
.detail_person_txt {
    img {
        width: 30px;
        height: 28px;
        float: left;
        border-radius: 50%;
        margin-right: 5px;
    }
    span {
        float: left;
    }
}
.detail_person_save {
    width: 25px;
    height: 25px;
    display: inline-block;
    float: right;
    margin: -4px 0 0 5px;
}
.arrange_introduce {
    line-height: 24px;
}
.arrange_picture {
    li {
        float: left;
        margin-right: 10px;
        padding-top: 10px;
    }
    img {
        width: 150px;
        height: 120px;
        cursor: pointer;
    }
}
.detail_comment_box {
    margin-top: 20px;
}
.comment_header {
    @extend %detail-title;
}
.comment_write_box {
    padding: 10px 20px;
    textarea {
        width: 100%;
        height: 120px;
        resize: none; 
        padding: 10px;
        font-size: 14px;
        border: solid thin #aaaaaa;
    }
    button {
        padding: 8px 30px;
        background-color: #9a9a9a;
        color: white;
        font-size: 14px;
        font-weight: bold;
        border: solid thin #9a9a9a;
        cursor: pointer;
        margin-top: 5px;
        &:hover {
            background-color: $login-register-color;
            border: solid thin $login-register-color;
        }
    }
}
.comment_detail_box {
    padding: 20px 0 80px 20px;
    img {
        width: 80px;
        height: 70px;
        border-radius: 50%;
        float: left;
    }
    li {
        padding: 20px 0;
        border-bottom: solid thin $border-color;
    }
    .comment_empty_box {
        text-align: center;
        padding: 20px 0 80px 0;
        font-size: 14px;
    }
}
.comment_text_box {
    width: 840px;
    float: left;
    margin-left: 20px;
}
.comment_text_name {
    h4 {
        font-size: 20px;   
        float: left;
    }
    span {
        float: right;
    }
}
.comment_detail_text {
    height: 48px;
    margin-top: 10px;
}