@import "../common/variable.scss";

body {
    background-color: white;
}
// 登录界面
.login_header {
    @extend %login-register-header;
}
.login_main {
    @extend %login-register-main;
}
.login_main_container {
    @include login-register-box(700px, 400px, 320px, 200px, 220px);
}

// 注册界面
.register_header {
    @extend %login-register-header;
}
.register_main {
    @extend %login-register-main
}
.register_main_container {
    @include login-register-box(1050px, 540px, 350px, 230px, 250px);
}

// 我的行程界面
.my_trip_container {
    @extend %left-right-border;
}
.my_trip_box {
    @extend %container-box;
    padding-bottom: 80px;
}
.trip_box_header {
    @extend %detail-title;
    padding: 10px 0;
    border-bottom: solid thin $border-color;
}
.trip_box_main {
    @extend %trips-box;
    margin: 30px 0;
}
.trips_box_text {
    @extend %trips-text;
}
